<head>
<style>
body
{background-color: rgb(0,104,255);}
h1,h2,p
{
text-align:center;
color:white;
}
  </style>
</head>
<body>
<H1 Style="Font: 18px Verdana; font-weight:bold;">Site Map
 <p><a href="http://stormy-fortress-3945.herokuapp.com/welcome/index">Welcome Page</a><p>
 <p><a href="http://stormy-fortress-3945.herokuapp.com/aboutme/index">About Me</a><p>
</p>
</body>