<head>
<style>
body
{background-color: rgb(0,104,255);}
h1,h2,p
{
text-align:center;
color:white;
}
  </style>
</head>
<body>
<H1 Style="Font: 18px Verdana; font-weight:bold;">Site Map
<p><a href="http://">Welcome Page</a></p>
<p><a href="http://">About Me</a></p>
</body>