<head>
<style>
body
{background-color: rgb(0,104,255);}
h1,h2,p
{
text-align:center;
color:white;
}
  </style>
</head>
<body>
<H1 Style="Font: 18px Verdana; font-weight:bold;">Site Map
 <% link to('Welcome!', welcome_page_path ) %>
 <p><a href="/aboutme/index">About Me</a><p>
</p>
</body>