<head>
<style>
	body
	{background-color: rgb(0,104,255);}
	h1,h2,p
	{
	text-align:center;
	color:white;
	}
	ul
	{text-align:center;
	color:black
	}
	ul {
	  list-style-type: none
	}
</style>
</head>
<body>
<% if user_signed_in? && current_user.admin %>
	You're in like an Admin!
<% end %>
<% if user_signed_in? && !current_user.admin %>
	<%= form_tag("/say_hi") do %>
		<%= label_tag('my_password', 'Your Admin Password:') %>
		<%= submit_tag("Submit") %>
	<% end %>
<% end %>

<h1>How I Reimagined My Dream</h1>
<H2 Style="Font: 14px Verdana">To advertising technology without a net.

<ul>
	<li><b>Good contacts!</b></li>
	<li><b>Plenty of coffee!</b></li>
	<li><b>A crap load of wine!</b></li>
	<li><b>And, most important - Lots of luck!</b></li>
</ul>
	<h2>Last updated May 3, 2014</h2>
</body>