<head>
<style>
	body
	{background-color: rgb(0,104,255);}
	h1,h2,p
	{
	text-align:center;
	color:white;
	}
	ul
	{text-align:center;
	color:black
	}
	ul {
	  list-style-type: none
	}
</style>
</head>
<body>
	<% if user_signed_in? && current_user.admin %>
		signed in as admin
	 <% else user_signed_in? && !current_user.admin %>
	 	signed in but not admin
  <% end %>
 

<h1>Rooth I. Blackman</h1>
<H2 Style="Font: 14px Verdana">The Slide into Technology
	|
	|
	|
	V
	From the Music Business
</body>

<%= current_user.theme.color %>
 <% end %>



