<head>
<style>
	body
	{background-color: rgb(0,104,255);}
	h1,h2,p
	{
	text-align:center;
	color:white;
	}
	ul
	{text-align:center;
	color:black
	}
</style>
</head>
<body>
	<% if user_signed_in? && current_user.admin %>
		signed in as admin
	<% end %>
	 <% if user_signed_in? && !current_user.admin %>
	 	signed in but not admin
	<% end %>
	<% if current_user && current_user.theme %>
		YOUR THEME: <%= current_user.theme.color %>
	<% end %>

	<h1>Rooth I. Blackman</h1>
	<h2>Sliding into Technology
	<br>	|
	<br>	|
	<br>	|
	<br>	V
	<br>From the Music Business</h2>
</body>