<head>
<style>
	body
	{background-color: rgb(0,104,255);}
	h1,h2,p
	{
	text-align:center;
	color:white;
	}
	ul
	{text-align:center;
	color:black
	}
	ul {
	  list-style-type: none
	}
</style>
</head>
<body>
	<% if user_signed_in? && current_user.admin %>
	redirect_to(say_hi_page)
  <% end %>
	<% else user_signed_in? && !current_user.admin %>
	redirect_to(error_page_path)
  <% end %>

<h1>How I Reimagined My Dream</h1>
<H2 Style="Font: 14px Verdana">To advertising technology without a net.

<ul>
	<li><b>Good contacts!</b></li>
	<li><b>Plenty of coffee!</b></li>
	<li><b>A crap load of wine!</b></li>
	<li><b>And, most important - Lots of luck!</b></li>
</ul>
	<h2>Last updated May 11, 2014</h2>
</body>