<head>
<style>
body
{background-color: rgb(0,104,255);}
h1,h2,p
{
text-align:center;
color:white;
}
ul
{text-align:center;
color:black
}
ul {
  list-style-type: none
}
  </style>
</head>
<body>
<h1>Everyone thought I looked like Danny Partridge</h1>
<p>I can't blame them...I truly did<p>

<style  type="text/css"> img .favorite { size: 200px; } </style>
<img class="favorite" src="https://www.facebook.com/photo.php?fbid=436461402523&set=t.1037470628&type=3&theater" />
</body>
