<head>
<style>
body
{background-color: white;}
h1,h2,p
{
text-align:center;
color:rgb(0,104,255);;
}
  </style>
</head>
<body>
<H1 Style="Font: 18px Verdana; font-weight:bold;">Everyone thought I looked like Danny Partridge.  
I can't blame them...I truly did

<style  type="text/css"> img .favorite { size: 20px; } </style>
<img class="favorite" src="http://upload.wikimedia.org/wikipedia/commons/6/68/The_Partridge_Family_Danny_Bonaduce_1970.jpg" />
<p>That's him</p>

</body>