<head>
<style>
body
{background-color: white;}
h1,h2,p
{
text-align:center;
color:rgb(0,104,255);;
}
  </style>
</head>
<body>
<H1 Style="Font: 18px Verdana; font-weight:bold;">Everyone thought I looked like Danny Partridge.  
I can't blame them...I truly did

<style  type="text/css"> img.favorite { size: 20px} </style>
<img class="favorite" src="/assets/copy_of_magic_image.gif" />
<p>That's him</p>

</body>